@{
    ViewBag.Title = "Index";
}


<div ng-controller="HomeCtrl">
    {{ greeting }} wapper


    <div>
        <input ng-model="greeting" />
    </div>
    <input type="button" class="btnGreen" value="Save" ng-click="ChangeGreeting(greeting)" />
</div>
------------------------------------------------------------------------------------------
<div ng-controller="CartCntrl">
  
    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
    <hr>
    <div ng-show="isCollapsed">
       
                  
           
                
       
            <div ng-repeat="item in items">
                <span>{{item.title}}</span>
                <input ng-model="item.quantity">
                <span>{{item.price | currency}}</span>
                <span>{{item.price * item.quantity | currency}}</span>
            </div>
            <div>Total: {{totalCart() | currency}}</div>
            <div>Discount: {{bill.discount | currency}}</div>
            <div>Subtotal: {{subtotal() | currency}}</div>
             <div>Subtotal2: {{subtotal2}}</div>
        <button type="button" class="btn btn-sm btn-info" ng-click="buttonClicked()">Remove</button>
    </div>

</div>